{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.test.json"
  },
  "extends": [
    "@trejgun/eslint-config/presets/ts",
    "@trejgun/eslint-config/rules/jest"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "directory": [
          "packages/*/tsconfig.json",
          "services/*/tsconfig.json"
        ]
      },
      "node": {
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
